apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: grafana
  namespace: monitoring
spec:
  interval: 5m0s
  chart:
    spec:
      chart: grafana
      version: 8.4.7
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: monitoring
  values:
    service:
      type: ClusterIP
